
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="./mainpage_files/index.css">
        <title>主页-已有自习列表-科气研究所</title>
        <meta name="keywords" content="科里科气，科气研究所，中国科学技术大学，中科大，现代软件工程">
        <meta name="description" content="Page prototype v1.0.2">
        <meta name="author" content="USTC Modern Software Engineering KLKQYFCT">
        <meta name="revised" content="Bowen Jiang, 11/14/17">
    </head>
    <body background="./mainpage_files/background.jpg">
        <div id="header">
            <div class="top_title_left">
                <img src="./mainpage_files/teamname.jpg" class="teamname">  
            </div>
            <div class="top_title_fast_link_right">
                <pre>{{name}} , 欢迎你！ </a>    <a id="login_or_exit" href="http://101.132.149.219:82/klkqyfct/index.html" class="white">退出</a>    <a href="http://101.132.149.219:82/klkqyfct/self_study/home_page.html" class="white">首页</a>    <a href="http://101.132.149.219:82/klkqyfct/top_index/regestered.html" class="white">注册</a>    <a href="http://101.132.149.219:82/klkqyfct/top_index/help.html" class="white">帮助</a>    <a href="http://101.132.149.219:82/klkqyfct/top_index/contect_us.html" class="white">联系我们</a></pre>
            </div>
            <hr>
        </div>
        <br><br><br><br><br>
        <div>
            <div id="up_title" class="up_title" style="left: 0.000443475%; font-size: 60px;">
                <b>科里科气</b>
            </div>
            <hr>
            <div id="up_title_sup" class="up_title_sup" style="left: -0.000443475%; font-size: 40px;">
                <b>少年！今天你约自习了吗！</b>
            </div>
        </div>
        <br><br><br>
        <div>
            <span class="left30">
                <button onclick="javascript:window.location.href='postme'">发布我的自习</button>
                <button onclick="window.location.href='my_self_study'">我已完成的自习</button>
            </span>
            <span class="left50">
                <button onclick="window.location.href=(improve_information.html)">完善我的信息</button>
            </span>
        </div>
        <br><br>     
        <div>
            <div id="self_study_1" class="simple_self_study" border="1" style="display: block;">
                <div>
                    <img src="./mainpage_files/blankphoto.jpg" class="photo">
                </div>
                <br>
                <div class="self_study_message_left">
                    <b>昵称：</b><b id="info_1_nickname">姓名1</b><br><br>
                    <b>性别：</b><b id="info_1_sex">性别1</b><br><br>
                    <b>学院：</b><b id="info_1_department">学院1</b><br><br>
                    <b>科气：</b><b id="info_1_keqi">科气1</b>
                </div>
                <div class="self_study_message_right">
                    <b>时间：</b><b id="info_1_studytime">时间段1</b><br><br>
                    <b>地点：</b><b id="info_1_studylocation">地点1</b><br><br>
                    <b>年级：</b><b id="info_1_grade">年级1</b>
                </div>
                <div class="self_study_button_right">
                    <br>
                    <button id="dont_see1" class="seven_words suit_text_small">不看他的消息</button>
                    <br>
                </div> 
                <br><br><br><br><br><br><br>
                <hr>
                <div id="more_infomation_1" class="self_study_button">
                    <div class="self_study_message_left">
                        <br>
                        <b>兴趣爱好：</b><b>学习</b><br><br>
                        <b>GPA：</b><b>3.80</b><br><br>
                        <br>
                    </div>
                    <div class="self_study_message_right">
                        <br>
                        <b>姓名：</b><b>你科</b><br><br>
                        <b>自习科目：</b><b>C++</b><br><br>
                        <br>
                    </div>
                    <div class="self_study_message_bottom">
                        <br>
                        <b>个人介绍：</b><p>大家好我是一只求学物理不成转cs的大四狗，如果有想和我一起约自习的同学可以与我联系</p><br><br>
                        <b>理由陈述：</b><p>学物理找不到工作的！学物理找不到工作的！学物理找不到工作的！学物理找不到工作的！学物理找不到工作的！学物理找不到工作的！学物理找不到工作的！学物理找不到工作的！</p><br><br>
                    </div>
                    <div class="self_study_message_bottom">
                        <b>朋友圈：</b><p>暂未添加</p><br><br>
                    </div>
                </div>
                <p id="expand_more_1" class="expand_more">展开更多</p>
            </div>
            <br>
            <div id="self_study_2" class="simple_self_study" border="1" style="display: block;">
                <div>
                    <img src="./mainpage_files/blankphoto.jpg" class="photo">
                </div>
                <br>
                <div class="self_study_message_left">
                    <b>昵称：</b><b id="info_2_nickname">姓名2</b><br><br>
                    <b>性别：</b><b id="info_2_sex">性别2</b><br><br>
                    <b>学院：</b><b id="info_2_department">学院2</b><br><br>
                    <b>科气：</b><b id="info_2_keqi">科气2</b>
                </div>
                <div class="self_study_message_right">
                    <b>时间：</b><b id="info_2_studytime">时间段2</b><br><br>
                    <b>地点：</b><b id="info_2_studylocation">地点2</b><br><br>
                    <b>年级：</b><b id="info_2_grade">年级2</b>
                </div>
                <div class="self_study_button_right">
                    <br>
                    <button id="dont_see2" class="seven_words suit_text_small">不看他的消息</button>
                    <br>
                </div>
                <br><br><br><br><br><br><br>
                <hr>
                <div id="more_infomation_2" class="self_study_button">
                    <div class="self_study_message_left">
                        <br>
                        <b>兴趣爱好：</b><b>学习</b><br><br>
                        <b>GPA：</b><b>3.80</b><br><br>
                        <br>
                    </div>
                    <div class="self_study_message_right">
                        <br>
                        <b>姓名：</b><b>你科</b><br><br>
                        <b>自习科目：</b><b>C++</b><br><br>
                        <br>
                    </div>
                    <div class="self_study_message_bottom">
                        <br>
                        <b>个人介绍：</b><p>大家好我是一只求学物理不成转cs的大四狗，如果有想和我一起约自习的同学可以与我联系</p><br><br>
                        <b>理由陈述：</b><p>学物理找不到工作的！学物理找不到工作的！学物理找不到工作的！学物理找不到工作的！学物理找不到工作的！学物理找不到工作的！学物理找不到工作的！学物理找不到工作的！</p><br><br>
                    </div>
                    <div class="self_study_message_bottom">
                        <b>朋友圈：</b><p>暂未添加</p><br><br>
                    </div>
                </div>
                <p id="expand_more_2" class="expand_more">展开更多</p>
            </div>
            <br>
            <div id="self_study_3" class="simple_self_study" border="1" style="display: block;">
                <div>
                    <img src="./mainpage_files/blankphoto.jpg" class="photo">
                </div>
                <br>
                <div class="self_study_message_left">
                    <b>昵称：</b><b id="info_3_nickname">姓名3</b><br><br>
                    <b>性别：</b><b id="info_3_sex">性别3</b><br><br>
                    <b>学院：</b><b id="info_3_department">学院3</b><br><br>
                    <b>科气：</b><b id="info_3_keqi">科气3</b>
                </div>
                <div class="self_study_message_right">
                    <b>时间：</b><b id="info_3_studytime">时间段3</b><br><br>
                    <b>地点：</b><b id="info_3_studylocation">地点3</b><br><br>
                    <b>年级：</b><b id="info_3_grade">年级3</b>
                </div>
                <div class="self_study_button_right">
                    <br>
                    <button id="dont_see3" class="seven_words suit_text_small">不看他的消息</button>
                    <br>
                </div>
                <br><br><br><br><br><br><br>
                <hr>
                <div id="more_infomation_3" class="self_study_button">
                    <div class="self_study_message_left">
                        <br>
                        <b>兴趣爱好：</b><b>学习</b><br><br>
                        <b>GPA：</b><b>3.80</b><br><br>
                        <br>
                    </div>
                    <div class="self_study_message_right">
                        <br>
                        <b>姓名：</b><b>你科</b><br><br>
                        <b>自习科目：</b><b>C++</b><br><br>
                        <br>
                    </div>
                    <div class="self_study_message_bottom">
                        <br>
                        <b>个人介绍：</b><p>大家好我是一只求学物理不成转cs的大四狗，如果有想和我一起约自习的同学可以与我联系</p><br><br>
                        <b>理由陈述：</b><p>学物理找不到工作的！学物理找不到工作的！学物理找不到工作的！学物理找不到工作的！学物理找不到工作的！学物理找不到工作的！学物理找不到工作的！学物理找不到工作的！</p><br><br>
                    </div>
                    <div class="self_study_message_bottom">
                        <b>朋友圈：</b><p>暂未添加</p><br><br>
                    </div>
                </div>
                <p id="expand_more_3" class="expand_more">展开更多</p>
            </div>
        </div>
        <br><br>
        <div class="change_page">
            <p><a href="http://101.132.149.219:82/klkqyfct/self_study/home_page.html">首页</a> <a href="http://101.132.149.219:82/klkqyfct/self_study/home_page.html">前一页</a> <a href="http://101.132.149.219:82/klkqyfct/self_study/home_page.html">1</a> <a href="http://101.132.149.219:82/klkqyfct/self_study/home_page.html">2</a> <a href="http://101.132.149.219:82/klkqyfct/self_study/home_page.html">3</a> <a href="http://101.132.149.219:82/klkqyfct/self_study/home_page.html">4</a> <a href="http://101.132.149.219:82/klkqyfct/self_study/home_page.html">5</a> ... <a href="http://101.132.149.219:82/klkqyfct/self_study/home_page.html">下一页</a>  <a href="http://101.132.149.219:82/klkqyfct/self_study/home_page.html">尾页</a></p>
        </div>
        <br><br>
        <div id="footer">
            <p>联系我们：<a href="http://www.cnblogs.com/klkqyfct/" class="white">http://www.cnblogs.com/klkqyfct/</a></p>
        </div>
    
</body></html>